# --- Build Artifacts (Binaries) ---
cpu
assembler
imager
font_maker
chibicc
compiler

# --- Compiled Bytecode ---
*.bin
*.img

# --- Temporary Assembly Files ---
*.asm
programs/*.asm
lib/*.asm
tests/*.asm

# --- Compiler Temp Files ---
*_temp.asm

# --- IDE / System Files ---
.DS_Store
*.o
*.dSYM
